.interactive-tile {
    margin-right: 32px;
    background-color: #f3f3f3;
    width: 276px;
    height: 133px;
    padding: 16px;
    position: relative;
}

.interactive-tile:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.tile-heading {
    font: 18px "Lato";
    font-weight: bold;
    margin: 0;
    display: inline-block;  
}

.go-to-page-icon {
    margin-right: 16px;
    margin-bottom: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    vertical-align: bottom;
    width: 24px;
}

.version-number {
    display: inline-block;
    margin: 0px;
    margin-left: 16px;

}