body {
    font: 16px "Lato", Regular;
}

.header-background {
    width: 1600px;
    
}

.header-title {
    position: absolute;
    font: 60px "Lato", Bold;
    color: #FFFFFF;
    top: 0;
    margin-top: 220px;
    margin-left: 220px;
    
}

.header-text {
    position: absolute;
    font: 16px "Lato";
    font-weight: Regular;
    color: #FFFFFF;
    top: 0;
    margin-top: 220px;
    margin-left: 1000px;
    line-height: 20px;
}
